@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  direction: rtl;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 107, 189);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 10rem 1fr;
    padding: 0 1rem 0 2rem;
  }
}
