@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#app {
  direction: rtl;
  font-weight: normal;
  height: 100%;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 6rem 1fr;
  }
}
